@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";                 
@import "primeicons/primeicons.css";
@import 'bootstrap/dist/css/bootstrap.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f9f9f9;
}

.advogados-page h1 {
  margin: 20px auto;
  text-align: center;
}

.advogados-page h3 {
  margin: 20px auto;
  text-align: center;
}

.advogados-page .advogados-list {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd; /* Borda mais clara para a lista */
  border-radius: 5px;
  margin: 30px 0;
}

.advogados-page .advogados-list table {
  width: 100%;
  border-collapse: collapse;
}

.advogados-page .advogados-list table th,
.advogados-page .advogados-list table td {
  padding: 12px; /* Adiciona padding para as células da tabela */
  text-align: left;
}

.advogados-page .advogados-list table th {
  background-color: #f4f4f4; /* Cor de fundo para o cabeçalho da tabela */
  border-bottom: 2px solid #ddd; /* Borda inferior mais escura para o cabeçalho */
  font-weight: bold;
}

.advogados-page .advogados-list table tr:nth-child(even) {
  background-color: #f9f9f9; /* Cor de fundo alternada para linhas pares */
}

.advogados-page .advogados-list table tr:nth-child(odd) {
  background-color: #fff; /* Cor de fundo para linhas ímpares */
}

.advogados-page .advogados-list table tr:hover {
  background-color: #eaeaea; /* Cor de fundo ao passar o mouse */
}

.advogados-page .advogados-list table td {
  border-bottom: 1px solid #ddd; /* Borda inferior para células */
}

.advogados-page .advogados-list table .btn {
  margin: 0 5px;
}

.advogados-page .addNewAdvogado {
  text-align: right;
  margin-bottom: 20px;
}

.advogados-page .addNewAdvogado .btn i {
  padding: 0 10px;
}

.advogado-view h1 {
  padding-left: 30px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-size: 22px;
  font-weight: bold;
}

.advogado-view .box {
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.advogado-view p {
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.advogado-view p span {
  display: inline-block;
  min-width: 130px;
}

.advogado-view p span:first-child {
  color: #6c757d;
}

.advogado-view p span:last-child {
  color: #333;
  font-weight: bold;
}

._add-view p {
  border-bottom: none;
}

._add-view p input {
  margin: 5px 0;
  font-size: 14px;
}

.p-dialog .p-dialog-content {
  padding: 20px; 
}

.p-dialog .p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.p-dialog .p-dialog-footer .p-button {
  margin-left: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}